// Images
.full { max-width: auto !important; }
.cyrcle { border-radius: 50% !important; }
.rounded { border-radius: 4px !important; }
.scale {
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    > img, > a, > span, > div {
        transition: .4s ease all;
    }
}

// Lists
.clear-list { list-style: none; padding-left: 0; }
.two-columns {
    position: relative;
    overflow: hidden;
    > div, li {
        float: left;
        width: 50%;
        &:nth-child(2n+1) {
            clear: both;
        }
    }
}
.two-columns-vertical {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    > div, li {
        display: inline-block;
        position: relative;
        width: 100%;
    }
}

// Aligments
.alignleft, .al, .alignright, .ar {
    display: inline;
    margin-bottom: 10px;
}
.alignleft, .al {
    float: left;
    margin-right: 1.5em;
}
.alignright, .ar {
    float: right;
    margin-left: 1.5em;
}
.aligncenter, .ac {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fll, .float-left, .pull-left { float: left !important; }
.flr, .float-right, .pull-right { float: right !important; }
.fln, .float-none, .pull-none { float: none !important; }

// Offsets
.ml0  { margin-left:    0px !important; }
.ml20 { margin-left:   20px !important; }
.mt0  { margin-top:     0px !important; }
.mt20 { margin-top:    20px !important; }
.mr0  { margin-right:   0px !important; }
.mr20 { margin-right:  20px !important; }
.mb0  { margin-bottom:  0px !important; }
.mb20 { margin-bottom: 20px !important; }

.no-underline { &, &:hover, &:focus {
    text-decoration: none;
} }

.no-paddings {
    padding-left: 0;
    padding-right: 0;
}

// @todo
// @each $breakpoint, $value in $grid-breakpoints {
// }

// Hiddens
.hidden-xs-up { display: none !important; }
@media (max-width: 575px) { .hidden-xs-down { display: none !important; } }
@media (min-width: 576px) { .hidden-sm-up { display: none !important; } }
@media (max-width: 767px) { .hidden-sm-down { display: none !important; } }
@media (min-width: 768px) { .hidden-md-up { display: none !important; } }
@media (max-width: 991px) { .hidden-md-down { display: none !important; } }
@media (min-width: 992px) { .hidden-lg-up { display: none !important; } }
@media (max-width: 1199px) { .hidden-lg-down { display: none !important; } }
@media (min-width: 1200px) { .hidden-xl-up { display: none !important; } }
.hidden-xl-down { display: none !important; }

// grid 1/5
.col-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4,
.col-xl-2-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}
.offset-2-4 {
    margin-left: 20%;
}

@media (min-width: 576px) {
    .col-sm-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .offset-sm-2-4 {
        margin-left: 20%;
    }
}

@media (min-width: 768px) {
    .col-md-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .offset-md-2-4 {
        margin-left: 20%;
    }
}

@media (min-width: 992px) {
    .col-lg-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .offset-lg-2-4 {
        margin-left: 20%;
    }
}

@media (min-width: 1200px) {
    .col-xl-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .offset-xl-2-4 {
        margin-left: 20%;
    }
}
