    // @font-face {
    //         font-family: "Myriad Pro";
    //         src: url("assets/fonts/MyriadProRegular/MyriadProRegular.eot");
    //         src: url("assets/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    //         url("assets/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    //         url("assets/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    //         font-style: normal;
    //         font-weight: normal;
    // }

    // @font-face {
    //         font-family: "Myriad Pro";
    //         src: url("assets/fonts/MyriadProBold/MyriadProBold.eot");
    //         src: url("assets/fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    //         url("assets/fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    //         url("assets/fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    //         font-style: normal;
    //         font-weight: bold;
    // }

/********************************** Elements **********************************/
    // body {
    //     font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L",
    //         "Helvetica Neue", Helvetica, Arial, sans-serif;
    // }

/*********************************** Header ***********************************/
    $left_menu_space: 56px;
    body {
        // padding-left: 56px;
    }
    .left-menu {
        position: fixed;
        background: rgba(255, 255, 255, 0.5);
        display: block;
        left: -100%;
        top: 0;
        z-index: 99;
        width: 100%;
        text-align: right;

        -webkit-transform: rotate(-90deg) translate($left_menu_space, 100%);
           -moz-transform: rotate(-90deg) translate($left_menu_space, 100%);
            -ms-transform: rotate(-90deg) translate($left_menu_space, 100%);
             -o-transform: rotate(-90deg) translate($left_menu_space, 100%);
                transform: rotate(-90deg) translate($left_menu_space, 100%);
        -webkit-transform-origin: 100% 100%;
           -moz-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
             -o-transform-origin: 100% 100%;
                transform-origin: 100% 100%;

        .menu {
            li {
                display: inline-block;
                a {
                    display: block;
                    padding: .5rem .5rem;
                    letter-spacing: 4px;
                }
            }
        //     // @media (min-width: 1200px) {
        //     //     transform: rotate( -90deg );
        //     // }
        }
    }

    .site-header {
        background-size: cover;
    }

/********************************* Navigations ********************************/
    #main-navigation {
        width: 100%;
        background-color: #ccc;
        margin-bottom: 20px;
        .navbar {
            padding: 0;
            border-radius: 0;
            .nav-link {
                color: #000;
                padding: 10px 15px;
            }
            .nav-link:hover,
            .nav-link:focus {
                color: #444;
            }
            .nav-link,
            .nav-link:hover,
            .nav-link:focus {
                text-decoration: none;
            }
        }
        .non-responsive {
            .navbar-brand {
                display: none !important;
            }
            .navbar-nav {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                    -ms-flex-direction: row;
                        flex-direction: row;
            }
        }
    }

/************************************ Side ************************************/


/*********************************** Footer ***********************************/
    #site-footer {}

/*! @see styles.css for edit content styles */
